.navbar-custom {
    background-color: #0D6EFD;
}
.navbar-brand{
    font-size: 20px;
    color: white;
    
}
.navbar-brand:hover{
    color: yellow;
}
.navbar-custom,.navbar-custom .nav-link{
    color: white;
    font-size: 16px;
}
.navbar-custom .nav-link:hover{
    color: yellow;
}

/* .myForm {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */
 /* .myForm{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 } */
 .myForm{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 .box{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 20px;
    max-width: 380px;
}

 .box img{
    height: 150;
    max-width: 180px ;
 }

.row {

}
